################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/db-engine/FileContentIndex/083e7a4c-2615-40c8-bb0b-d12a127a85ae.vsidx
/.vs/db-engine/FileContentIndex/19ceefda-3b6e-4f17-966c-595e28749293.vsidx
/.vs/db-engine/FileContentIndex/2004861c-8abd-4be2-ba33-194a51f31427.vsidx
/.vs/db-engine/FileContentIndex/48289760-4a0b-4051-bd81-c23c7a04516f.vsidx
/.vs/db-engine/FileContentIndex/7583b42d-52d4-4053-be2a-5cdfdf69b971.vsidx
/.vs/db-engine/v17
/.vs/db-engine/v17/.wsuo
/.vs/db-engine/v17/DocumentLayout.json
